.LanguageSwitcher {
  background: var(--bg3-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: var(--primary-color);

  &:hover {
    color: var(--bg-secondary-color);
    background-color: var(--secondary-color);
  }
}