@import "reset.css";
@import "variables/global.css";
@import "themes/light.css";
@import "themes/dark.css";
@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import "@xyflow/react/dist/style.css";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.page-content {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 14px 20px;
  overflow: auto;
  height: calc(100vh - var(--navbar-height));
}