.wrapper {
  display: flex;
  gap: 12px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 12px;
}

.legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.legend__row {
  display: flex;
  gap: 6px;
  justify-content: center;
}

.badge {
  margin-top: 8px;
  min-width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
}