.Sidebar {
  position: relative;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--bg-secondary-color);
  transition: width 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  align-items: center;
}

.collapseBtn {
  position: absolute;
  right: calc(-1 * var(--font-line-l));
  bottom: 10px;
}

.links {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.link {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 12px;

  &:hover {
    color: var(--bg-secondary-color);
    background-color: var(--secondary-color);
  }
}

.linkText {
  opacity: 1;
}

.switchers {
  display: flex;
  gap: 8px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    display: flex;
    flex-direction: column;
  }

  .linkText {
    opacity: 0;
    width: 0;
    transition: 0.2s opacity;
  }

  .link {
    justify-content: center;
    gap: 0;
  }
}
