.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--bg-secondary-color);
  transition: width 0.2s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}
