.Sidebar {
  position: relative;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--bg-secondary-color);
  transition: width 0.2s;
}

.collapseBtn {
  position: absolute;
  right: -40px;
  bottom: 40px;
}

.links {
  display: flex;
  flex-direction: column;
}

.link {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    color: var(--bg-secondary-color);
    background-color: var(--secondary-color);
  }
}

.linkText {
  opacity: 1;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    display: flex;
    flex-direction: column;
  }

  .linkText {
    opacity: 0;
    width: 0;
    transition: 0.2s opacity;
  }

  .link {
    justify-content: center;
  }
}
