.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.wrapper {
  padding: 12px 24px;
}

.employee_info {
  margin-top: 24px;
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  place-items: center center;
}

.avatar {
  font-size: 168px;
  color: var(--secondary-color);
}

.average-statistics-text {
  margin-top: 24px;
  margin-bottom: 12px;
}