.Text {
  margin: 0;
  padding: 0;
}

.centered {
  text-align: center;
}

.xxs {
  font: var(--font-xxs);
}

.xs {
  font: var(--font-xs);
}

.s {
  font: var(--font-s);
}

.m {
  font: var(--font-m);
}

.l {
  font: var(--font-l);
}

.xl {
  font: var(--font-xl);
}

.xxl {
  font: var(--font-xxl)
}

.bold {
  font-weight: 600;
}

.right {
  text-align: right;
}