.treeContainer {
  height: 800px;
  width: 100%;
  background: light-dark(var(--color-bg1-light), var(--color-bg1-dark));

  .node {
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
