.wrapper {
  background-color: light-dark(
    var(--color-bg0-h-light),
    var(--color-bg0-h-dark)
  );
  padding: 0px var(--wrapper-horizontal-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}
