.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.wrapper {
  padding: 12px 24px;
}

.employee_info {
  margin-top: 24px;
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  gap: 24px;
  row-gap: 6px;
  place-items: center center;
}

.avatar {
  font-size: 168px;
  color: var(--secondary-color);
}

.average-statistics-text {
  margin-top: 24px;
  margin-bottom: 12px;
}

.link {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 12px;

  &:hover {
    color: var(--bg-secondary-color);
    background-color: var(--secondary-color);
  }
}

.result_score {
  grid-column: span 2;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.radar_chart {
  grid-row: span 2;
}