.upIcon {
  color: var(--nord14);
  font-size: 24px;
}

.downIcon {
  color: var(--nord11);
  font-size: 24px;
}

.deltaAssessment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}